.overlay {
    position: fixed;
    background-color: rgba($color: #000, $alpha: 0.7);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.modal {
    margin: 50px auto;
    width: calc(100% - 300px);
    max-height: 400px;
    min-height: 400px;
    background-color: #fff;
}