.sign-in-form {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 10px auto;
    padding: 10px 0;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.sign-in-header {
    
}